.root {
  padding-bottom: 2%;
}

.input_checkbox {
  margin-right: 6px;
}

.span_checkbox {
  font-size: 15px;
}

.div_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.go_demo_checkbox {
  margin-right: 20px;
}

.go_checkbox {
  margin-right: 20px;
}
