.input_checkbox {
  margin-right: 5px;
}

.span_checkbox {
  font-size: 15px;
}

.div_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.go_demo_checkbox {
  margin-right: 20px;
}

.go_checkbox {
  margin-right: 10px;
}
